.frame::before {
	content: url('/icons/history-frame-left.svg');
	position: absolute;
	display: inline-block;
	top: 0;
	left: -1px;
	width: 11px;
	height: 328px;
	z-index: 5;
	/* overflow: hidden; */
}

.frame::after {
	content: url('/icons/history-frame-right.svg');
	position: absolute;
	display: inline-block;
	top: 0;
	right: -1px;
	width: 11px;
	height: 328px;
	z-index: 5;
	/* overflow: hidden; */
}
