.containerImg::before {   
    content: url('/icons/card-services-frame-left-sm.svg'); 
    display: block; 
    position: absolute;
    z-index: 10; 
    top: 0; 
    left: -5px; 
  }

  @media (min-width: 768px) {
    .containerImg::before {
        content: url('/icons/card-services-frame-left-md.svg'); 
    }
  }

  .containerImg::after {   
    content: url('/icons/card-services-frame-right-sm.svg'); 
    display: block; 
    position: absolute; 
    z-index: 10; 
    top: 0; 
    right: -5px; 
  }
  
  @media (min-width: 768px) {
    .containerImg::after {
        content: url('/icons/card-services-frame-right-md.svg'); 
    }
  }

  .containerImg img {
    transition: transform 0.3s ease;
  }
  
  .containerImg:hover img {
    transform: scale(1.1); 
  }