.container::before {
	content: '';
	display: block;
	width: 1px;
	height: 0px;
	background-color: rgba(194, 178, 162, 1);
	background-size: contain;
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
	.container::before {
		height: 100%;
		right: -20px;
	}
}

@media screen and (min-width: 1280px) {
	.container::before {	
		right: -87px;
	}
}

