.footer::before {
	content: url('/images/footer/footer-bg-frame.webp');
	position: absolute;
	display: inline-block;
	top: -8px;
	left: 0;
	width: 100%;
	transform: rotate(180deg);
}

.background {
	background-image: image-set(
		url('/images/footer/footer-bg-mob@1x.webp') 1x,
		url('/images/footer/footer-bg-mob@2x.webp') 2x
	);
	background-size: 360px 112px;
}

@media (min-width: 768px) {
	.background {
		background-image: image-set(
			url('/images/footer/footer-bg-tab@1x.webp') 1x,
			url('/images/footer/footer-bg-tab@2x.webp') 2x
		);
		background-size: 768px 236px;
	}
}

@media (min-width: 1280px) {
	.background {
		background-image: image-set(
			url('/images/footer/footer-bg-desk@1x.webp') 1x,
			url('/images/footer/footer-bg-desk@2x.webp') 2x
		);
		background-size: 1440px 438px;
	}
}
