.hero {
  background-image: image-set(
      url('/images/hero/hero-bg-frame@1x.webp') 1x,
      url('/images/hero/hero-bg-frame@2x.webp') 2x
    ),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    image-set(
      url('/images/hero/hero-bg-mob@1x.webp') 1x,
      url('/images/hero/hero-bg-mob@2x.webp') 2x
    );
  background-size:
    100% 20px,
    100% 100%,
    cover;
  background-position: bottom, top, top;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .hero {
    background-image: image-set(
        url('/images/hero/hero-bg-frame@1x.webp') 1x,
        url('/images/hero/hero-bg-frame@2x.webp') 2x
      ),
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      image-set(
        url('/images/hero/hero-bg-tab@1x.webp') 1x,
        url('/images/hero/hero-bg-tab@2x.webp') 2x
      );
  }
}

@media (min-width: 1280px) {
  .hero {
    background-image: image-set(
        url('/images/hero/hero-bg-frame@1x.webp') 1x,
        url('/images/hero/hero-bg-frame@2x.webp') 2x
      ),
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      image-set(
        url('/images/hero/hero-bg-desk@1x.webp') 1x,
        url('/images/hero/hero-bg-desk@2x.webp') 2x
      );
    background-size:
      100% 28px,
      100% 100%,
      cover;
  }
}
