.hero {
	background-image: image-set(
			var(--bg-hero-frame1x) 1x,
			var(--bg-hero-frame2x) 2x
		),
		var(--bg-hero-overlay),
		image-set(var(--bg-hero-image-mob1x) 1x, var(--bg-hero-image-mob2x) 2x);
	background-size:
		100% 20px,
		100% 100%,
		cover;
	background-position: bottom, top, top;
	background-repeat: no-repeat;
}

@media (min-width: 768px) {
	.hero {
		background-image: image-set(
				var(--bg-hero-frame1x) 1x,
				var(--bg-hero-frame2x) 2x
			),
			var(--bg-hero-overlay),
			image-set(var(--bg-hero-image-tab1x) 1x, var(--bg-hero-image-tab2x) 2x);
	}
}

@media (min-width: 1280px) {
	.hero {
		background-image: image-set(
				var(--bg-hero-frame1x) 1x,
				var(--bg-hero-frame2x) 2x
			),
			var(--bg-hero-overlay),
			image-set(var(--bg-hero-image-desk1x) 1x, var(--bg-hero-image-desk2x) 2x);
	}
}
