.plant::before, 
.bag::before, 
.watering_can::before, 
.truck::before {
    content: '';
	height: 82px;
	display: inline-block;
	background-size: cover;
}

.plant::before {
	width: 64px;
	background-image: url(../../../../public/icons/plant.svg);
}

.bag::before {
	width: 67px;
	background-image: url(../../../../public/icons/bag.svg);
}

.watering_can::before {
	width: 88px;
	background-image: url(../../../../public/icons/watering-can.svg);
}

.truck::before {
	width: 128px;
	background-image: url(../../../../public/icons/truck.svg);
}
